<div class="container">
  <%# NAVBAR/HEADER %>

  <h1>Welcome to DevShop</h1>
  <p>We've got highly skilled candidates ready-to-go.</p>

  <%# AJUSTAR A IMAGEM NO CANTO DIREITO DA TELA, COM O TEXTO NO LADO ESQUERDO %>
  <%# <img src="https://images.unsplash.com/photo-1580894908361-967195033215?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80" class="rounded float-end" alt="coding"> %>
  <a type="button" class="btn btn-outline-primary rounded-5">Apply as a WebDev</a>
  <a type="button" class="btn btn-outline-primary rounded-5">Rent a WebDev</a>

  <div class="card-group text-center">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">Qualified Talent</h3>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.Saepe dolores quam velit!</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">Variety of skills</h3>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.Saepe dolores quam velit!</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">Remote teams on demand</h3>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.Saepe dolores quam velit!</p>
      </div>
    </div>
  </div>
<%# FOOTER %>
</div>
