.webdevs-main {
  background-color: white;
  border: 1px solid #d6d6d6;
  border-left: 5px solid #0D6EFD;
  border-radius: 10px;
  margin-bottom: 24px;
  padding: 20px;
}

.special-gab{
  margin-left: 50px;
}
